@import "vars";

@media (max-width: 1024px) {
  .featured__box{
    flex-direction: column;
    gap: 1rem;
  }
}
@media (max-width: 992px) {
  .header{
    margin-top: 5.875rem;
  }
  .header__menu{
    display: none;
  }
  .header__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.938rem;
    background: $white;
    color: $body-color;
    transform: translateY(-100%);
    transition: transform 0.5s;
    overflow: hidden;

    &.active {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      transform: translateX(0);
      background: $white;
      color: $body-color;

      .header__item {
        font-size: 1.5rem;
      }
    }
  }
  .hamburger{
    display: block;
  }
  .cart__box{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .news__cards{
    flex-direction: column;
    align-items: center;
  }
  .news__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .offer__inner{
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
  .offer__box{
    text-align: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .main{
    gap: 3.125rem 0;
  }
  .container{
    padding: 0 0.938rem;
  }
  .section__heading{
    padding-bottom: 3.125rem;
  }
  .product__cards{
    justify-content: center;
  }
  .offer{
    margin-top: 3.125rem;
  }
  .news__card{
    .desc, .news__title{
      text-align: center;
    }
  }
  .form__input{
    min-width: 0;
  }
  .footer__inner{
    flex-direction: column;
    gap: 2rem;
  }
  .footer__lists{
    justify-content: space-between;
  }
}
@media (max-width: 576px){
  body{
    font-size: 20px;
  }
  .offer__images{
    flex-direction: column;
    .offer__image-second{
      gap: 2rem;
    }
  }
  .news__cards{
    gap: 1.875rem;
  }
  .footer__lists{
    flex-direction: column;
    gap: 2rem;
  }
  .footer{
    padding: 3.125rem 0 1.563rem 0;
  }
}
@media (max-width: 425px){
  .contact__form{
    flex-direction: column;
    gap: 1rem;
  }
  .footer__title{
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
  }
  .footer__link{
    font-size: 1rem;
  }
}