@import "vars";


.story{
  margin-top: 7.5rem;
}
.story__box{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40.625rem;
  margin: 0 auto;
  text-align: center;
  gap: 1.25rem;
}
.story__title{
  line-height: 140%;
  font-size: 1.75rem;
}
.story__btn{
  color: #A25F4B;
  line-height: 185%;
  font-size: 1rem;
  position: relative;
  &:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background: #A25F4B;
    bottom: -5px;
    left: 0;
    transition: ease 0.3s;
  }
  &:hover:after{
    width: 100%;
  }
}